<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anew.msbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
        <activity
            android:name=".GRE_ScrollingActivity"
            android:label="@string/title_activity_gre__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TOEFL_ScrollingActivity"
            android:label="@string/title_activity_toefl__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IELTS_ScrollingActivity"
            android:label="@string/title_activity_ielts__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".university_ScrollingActivity"
            android:label="@string/title_activity_university__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Evaluated_Result"></activity>
    </application>

</manifest>